h1{
	text-align: left;
	background-color: black;
	color: white;

}
h3{
	padding: 0.5em 0em 0em 5em
}

#ide{
	padding-left: 5em;
	font-size: 20px;
	padding-bottom: 6.66em;
}

img{
	float: right;
	border: 2px solid black;
	border-image: 2px solid black;
	border-radius: 100%;
}

#venstredel{
	background-color: #cccccc;
	width: 200px;
	align: left;
	border-top: 2px solid black;
	border-right: 2px solid black;
	font-size: 1.5em;
	padding-left: 2.5em;
	float: left;
}

#footer{
	border-top: 2px solid black;
	text-align: right;
	padding-right: 40em;
	background-color: black;
	height: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
    font-size: 4em;
}

li a {
    color: white;
    text-align: center;
    padding: 0px 16px;
}

li a:hover {
    background-color: #737373;
}