* {
	box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Gotham', 'Helvetica', sans-serif;
	text-decoration: none;
	margin: 0;
}

.about {
	background-image: url("Images/rome.png");
	background-size: 102%;
}

.home {
	background-image: url("Images/paris.png");
	background-size: 100%;
}

.countries {
	background-image: url("Images/paris.png");
	background-size: 100%;
}

.main {
	background-color: dimgray;
	width: 40%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: navy;
	margin-top: 4%;
}

.paragraph {
	width: ;
	margin-top: 5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	margin-left: 2%;	
}

.menu_ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    text-align: center;
    background-color: navy;
    margin-top: 0;
    box-shadow: 0 0 10px 10px navy;
    position: ;
}

.menu_li {
	display: inline;
	width: 33%;
	font-size: 2em;
	margin: 0.3em 0.3em;
}

.menu_a {
	text-decoration: none;
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.country_div {
	background-color: dimgray;
	width: 40%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: navy;
	margin-top: 10%;
}

.country_ul {

}

.country_li {

}

.country_a {

}

#Babytech {
	height: 15em;
}

/*
Kilder:

https://www.pexels.com/photo/picture-of-eiffel-tower-338515/

https://www.pexels.com/photo/group-of-people-walking-near-white-painted-cathedral-161974/

https://pixabay.com/no/oslo-norge-byen-moderne-skyskraper-957242/
*/








