* {
	box-sizing: border-box;
}

body {
    background-image: url("./paris.png");
    background-color: blue;
}

img.resize {
	width: 100%;
	height: 100%;
}

div {
	background-color: yellow;
}

p {
	color: green;
	background-color: red;
}